<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Recipe Site</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login" class="login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Jan</a>
                    <div class="menu">
                        <a routerLink="/myrecipes">My recipes</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/myrecipes">
                        My recipes
                        <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
