<app-search></app-search>
  <!--
    Obstawiam, że nie o takie rozwiązanie chodziło, tylko o związane z wykorzystaniem
    pliku konfiguracyjnego umożliwiającego dostęp do kubełka na S3. Próbowałem w tym
    swoich sił, lecz poległem. Zostałem przy rozwiązaniu lokalnym.   
    <ul> 
        <li>
            <a href=""><img src="https://internmoodup.s3.eu-central-1.amazonaws.com/lasagna.jpg"></a>
        </li>
        <li>
            <a href=""><img src="https://internmoodup.s3.eu-central-1.amazonaws.com/shakshuka.jpg"></a>
        </li>
        <li>
            <a href=""><img src="https://internmoodup.s3.eu-central-1.amazonaws.com/spaghetti.jpg"></a>
        </li>
    </ul>
    -->
<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="">
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
                <span class="favourite {{food.favourite?'':'not'}}">
                    ❤
                </span>
                <div class="food-item-footer">
                    <div class="cook-time">
                        <span>⏲</span>
                        {{food.cookTime}}
                    </div>
                </div>
            </div>
        </a>
        
    </li>
</ul>
