<app-not-found [visible]="!food" notFoundMessage="Recipe Not Found!" resetLinkText="Back to Homepage"></app-not-found>
<div *ngIf="food" class="container">
    <img [src]="food.imageUrl" [alt]="food.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favourite {{food.favourite?'':'not'}}">
                ❤
            </span>
        </div>
        <div class="cook-time">
            <span>
                Time to cook about <strong>{{food.cookTime}}</strong>
            </span>
        </div>
        <div class="description">
            Ingredients:
            <span class="recipe">
                {{food.ingredients}}
            </span>
        </div>
        <!---->
        <div ng-app="">
            Ingredients:
            <span class="recipe">
                {{food.ingredients}}
            </span>
        </div>
    </div>

</div>